doctype html
html(lang="en")
head
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title= title
// Add the Bootstrap CSS
link(rel="stylesheet", href="/css/bootstrap.min.css")
// Add any custom CSS here
link(rel='stylesheet', href='/stylesheets/style.css')
body
// Add your main content here
block content
// Add jQuery and Bootstrap JavaScript files
script(src="/js/jquery.min.js")
script(src="/js/bootstrap.bundle.min.js")
// Add any custom JavaScript here